:root {
    --primary-low: #e7e7e9;
}
.hint {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    padding: 1rem 3rem;
}

.hint pre {
    background-color: #f5f2f0 !important;
}

.hint details > summary {
    cursor: pointer;
}

.hint tbody {
    border-top: 3px solid var(--primary-low);
}

.hint tr {
    border-bottom: 1px solid var(--primary-low);
}

.hint td code {
    background-color: transparent;
}

.hint table thead th {
    padding: 0.5rem;
    font-weight: 600;
}

.hint > div > * {
    margin-top: 1rem;
}

.hint table tbody td {
    padding: 3px 3px 3px 0.5em;
}

@media (max-width: 980px) {
    .hint {
        padding: 0;
    }
}
