.hint-modal {
    height: calc(100vh - 20px);
}

@media (min-width: 768px) {
    .hint-modal {
        width: 90%;
        height: calc(100vh - 60px);
    }
}

.hint-modal .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hint-modal-body {
    height: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.hint-modal iframe {
    width: 100%;
    margin-bottom: 0;
    flex-grow: 1;
}

.hint-modal p {
    margin-bottom: 0;
}
