.universal-nav {
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    font-size: 18px;
    font-family: "Roboto-Mono", sans-serif;
    height: var(--header-height);
    background: var(--theme-color);
    position: fixed;
    z-index: 1000;
    color: var(--gray-00);
    width: 100%;
    padding: 0 15px;
    top: 0;
}

.universal-nav a {
    text-decoration: none;
}

.universal-nav .universal-nav-right a {
    font-family: "Roboto Mono", monospace;
}

.universal-nav-left {
    display: flex;
    flex: 1 0 33%;
    margin-left: 0px;
    z-index: 2000;
    align-items: center;
    height: 100%;
}

.universal-nav-middle {
    display: flex;
    align-items: center;
    flex: 1 0 33%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    letter-spacing: 0.4px;
    white-space: nowrap;
    -ms-overflow-scrolling: touch;
}

.universal-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 33%;
    height: var(--header-height);
}

#universal-nav-logo {
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    color: var(--gray-00);
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#universal-nav-logo:hover {
    text-decoration: none;
    /* background-color: var(--theme-color); */
    background-color: transparent;
}

#universal-nav-logo:focus {
    background-color: inherit;
}

#universal-nav-logo svg {
    display: block;
    width: auto;
    height: 24px;
    margin: 7px 0px;
}

#home-nav-logo {
    flex-shrink: 0;
    display: block;
    color: var(--gray-00);
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -0.5px;
}

#home-nav-logo:hover {
    text-decoration: none;
    background-color: var(--theme-color);
}

#home-nav-logo:focus {
    background-color: inherit;
}

#home-nav-logo svg {
    display: block;
    width: auto;
    height: 24px;
    margin: 7px 0px;
}

.nav-list {
    display: none;
    position: absolute;
    background-color: var(--theme-color);
    top: calc(var(--header-height) * 2);
    right: 0px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100vw;
    height: auto;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
    max-width: 250px;
}

.nav-link {
    margin: 0;
    padding: 2px 15px 0 15px;
    display: flex;
    align-items: center;
    color: var(--gray-00);
    background-color: var(--gray-90);
    opacity: 1;
    white-space: nowrap;
    height: var(--header-height);
    width: 100%;
    align-items: center;
    border: none;
}

.nav-link:hover,
.nav-link:active {
    color: var(--theme-color);
    text-decoration: none;
    background: white;
    cursor: pointer;
}

.nav-link-header,
.nav-link-header:hover,
.nav-link-header:active {
    color: var(--gray-00);
    background-color: var(--gray-90);
    cursor: default;
}

.nav-link .fa-external-link-alt {
    color: var(--gray-45);
}

.nav-link .fa-check,
.nav-link .fa-check-square {
    width: 18px !important;
    height: auto !important;
}

.nav-link-lang {
    padding-left: 30px;
}

.nav-link-flex {
    display: flex;
    justify-content: space-between;
}

.nav-link-sign-in {
    display: none;
}

.nav-link-dull {
    color: var(--gray-45);
}

.nav-skeleton {
    height: var(--header-height);
    margin-right: 15px;
    width: 350px;
}

.nav-list .fcc-loader {
    padding: 0 40px;
    margin-left: 35px;
    margin-right: 25px;
}

.toggle-button-nav {
    padding: 2px 14px 2px;
    border: 1px solid var(--gray-00);
    font-family: "lato", sans-serif;
    font-size: 18px;
    color: var(--gray-00);
    background-color: var(--theme-color);
    cursor: pointer;
    max-height: calc(var(--header-height) - 6px);
    margin-right: 10px;
}

.toggle-button-nav:hover {
    background-color: var(--theme-color);
    color: var(--gray-00);
    border: 1px solid var(--gray-00);
}

.toggle-button-nav:focus {
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -3px;
}

.avatar-nav-link {
    display: block;
    height: 31px;
    width: 31px;
}

.avatar-nav-link:hover,
.avatar-nav-link:focus {
    background-color: var(--theme-color);
}

.avatar-nav-link .avatar-container {
    height: 100%;
}

.avatar-nav-link .avatar-container svg,
.avatar-nav-link .avatar-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gold-border {
    border: 2px solid var(--yellow-gold);
}

.blue-border {
    border: 2px solid var(--blue-mid);
}

.purple-border {
    border: 2px solid var(--purple-mid);
}

.default-border {
    border: 2px solid var(--gray-15);
}

.expand-nav {
    height: var(--header-height);
}

.display-menu {
    display: inherit;
    text-align: left;
    margin-top: calc(-1 * var(--header-height));
    max-height: calc(100vh - var(--header-height));
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.display-menu::-webkit-scrollbar {
    display: none;
}

.toggle-button-nav {
    display: flex;
}

.reverse-toggle-color {
    background-color: var(--gray-00);
    color: var(--theme-color);
}

.reverse-toggle-color:hover {
    background-color: var(--gray-00);
    color: var(--theme-color);
}

.nav-line,
.nav-line-2 {
    border-color: var(--gray-45);
    width: 100%;
    margin: 0;
}

.nav-line-2 {
    border-top-width: 2px;
}

.signup-btn {
    max-height: calc(var(--header-height) - 6px);
    padding: 0 8px;
    margin-left: 2px;
}

.universal-nav-go-back {
    font-size: 1.5rem;
}

@media (max-width: 980px) {
    .universal-nav-left {
        flex:none;
        width: 10%;
    }

    /* .universal-nav-middle {
        flex: none;
    } */

    .display-search {
        display: initial;
    }

    .universal-nav-right {
        flex:none;
        width: 10%;
    }

    .fcc_searchBar .ais-SearchBox-form {
        display: flex;
        position: absolute;
        top: var(--header-height);
        left: 15px;
        max-width: calc(100vw - 350px);
    }

    /* #universal-nav-logo {
    display: flex;
    position: absolute;
    left: 17px;
    top: 0px;
  } */

    .expand-nav {
        min-height: calc(2 * var(--header-height));
    }
}

@media (max-width: 600px) {
    .nav-list {
        min-width: 100%;
        top: calc(var(--header-height) * 2);
        margin-top: 0;
    }

    .fcc_searchBar .ais-SearchBox-form {
        max-width: 100%;
    }

    .ais-SearchBox-input {
        min-width: 100%;
    }

    .ais-Hits {
        min-width: calc(100% - 30px);
    }

    .display-menu {
        max-height: calc(100vh - var(--header-height) * 2);
    }
}

@media (max-width: 455px) {
    .universal-nav {
        padding: 0 5px;
    }

    .universal-nav {
        padding: 0 5px;
    }

    .nav-link-sign-in {
        display: flex;
    }

    .navatar .signup-btn {
        display: none;
    }

    .navatar {
        display: none;
    }

    #universal-nav-logo {
        max-width: 60%;
    }

    .nav-title {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    #universal-nav-logo {
        max-width: none;
        left: -170px;
    }
}
